{{define "function"}}
{{- $f := .}}

func {{.TestName}}(t *testing.T) {
    ctrl := gomock.NewController(t)
    defer ctrl.Finish()
    {{"\n"}}
	{{- with .Receiver}}
		{{- if .IsStruct}}
			{{Receiver .}} := {{if .Type.IsStar}}&{{end}}{{.Type.Value}}{}
		{{- end}}
	{{- end}}
    {{"\n"}}
    t.Run("Case1", func(t *testing.T) {
		{{- range .Parameters}}
            var {{Param .}} {{.Type}}
		{{- end}}
        {{- if .OnlyReturnsError}}
            err := {{template "call" $f}}
            require.Nil(t, err)
        {{- else if .OnlyReturnsOneValue}}
            got := {{template "call" $f}}
            assert.NotEmpty(t, got)
        {{- else}}
			{{template "results" $f}} {{template "call" $f}}
            {{- if.ReturnsError}}
                require.Nil(t, err)
            {{- end}}
            {{- range .TestResults}}
                assert.NotEmpty(t, {{Got .}})
            {{- end}}
        {{- end}}
    })
}

{{end}}
